body{
    background: url("../Images/marta.webp");
    /* To get image to fit properly to fill background: */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

h1 {
color: red;
}

h5{
    color: red;
}

.jumbotron {
text-align: center;
margin: 50px;
margin-top: 10px;
background-color: white;
opacity: .9;

}

#section1 { 
    background-color: white;
    float:left;
    margin: 10px;
    height: 250px;
    width: 650px; 
    opacity: .65;
}

#section2 {
    background-color: white;
float: left;
margin:10px;
height:250px;
width: 650px;
opacity: .65;

}

#map {
    color: red;
    }
    
    .jumbotron {
    text-align: center;
    }
    
    #section1A { 
    background-color: lightsteelblue;
    height: 40px;
    text-align: center;
    border-style: solid solid none solid ;
    border-width: 5px;
    font-weight: bold;
    font-size: 18px;
    }
        
    #section2A {
    background-color: blue;
    height: 40px;
    text-align: center;
    border-style: solid solid none solid ;
    border-width: 5px;
    font-weight: bold;
    font-size: 18px;
    }
    
    #section1B { 
    background-color: lightsteelblue;
    height: 350px;
    text-align: center;
    margin-bottom: 10%;
    border-style: none solid solid solid;
    border-width: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 70px;
    }
    
    #section2B {
    background-color: blue;
    height: 350px;
    text-align: center;
    margin-bottom: 10%;
    border-style: none solid solid solid;
    border-width: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 70px;
    }
    
    #map {
    background-color: green;
    text-align: center;
    height: 500px;
    width: 100%;
    float: left; 
    }
    
    h5{
    color: red;
    }

    align-content: center;
    margin:10px;
    height: 500px;
    width: 500px;
    float: left; 

    opacity: .95;
}
}

